/* Feel free to change me and make me your own! */

body {
  background-color: #e888e9; 
  font-family: 'Times New Roman', Times, serif, serif; 
}

article {
  margin-left: 10vw; 
  margin-right: 10vw; 
}
#navigation li {
  list-style-type: none;
  display: inline;
  }
  ul#navigation { 
    margin-left: 0;
    padding-left: 0;
    background: #8bcc35;
    }
    ul#navigation li a {
      display: inline-block;
      text-decoration: none;
      color: black;
      padding: 14px 16px;
      }
      
ul#navigation li a:hover {
  background-color: #a2ed3e;
  } 
h1 {
  font-size: 48px; 
}

h2 {
  font-size: 36px; 
}

p {
  font-size: 20px; 
}

ul {
  font-size: 20px; 
  list-style-type: square; 
}

code {
 font-family: 'Courier New', monospace; 
}

footer{
  text-align: center; 
}

.copyright {
  border-top: 1px solid black;
  display: flex;
  margin: auto;
  padding: 10px;
}

img.copyright_logo {
  width: 1vw;
  margin:.15vw;
}

.course-logo {
  width: 35vw;
}