/* Feel free to change me and make me your own! */

body {
  background-color: #e888e9; 
  font-family: 'Times New Roman', Times, serif, serif; 
}

article {
  margin-left: 10vw; 
  margin-right: 10vw; 
}
<ul>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {<li><a href="index.html">Index</a></li>
  <li><a href="dataset.htlm">Dataset</a></li>
  <li><a href="people.html">People</a></li>
  <li><a href="algorithm.html">Algortihm</a></li>
  float: left;
}

li a ul#navigation { <li><a href="index.html">Index</a></li>
  <li><a href="dataset.html">Dataset</a></li>
  <li><a href="people.html">People</a></li>
  <li><a href="algorithm.html">Algorithm</a></li>
  display: inline;
}
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
 x
  
h1 {
  font-size: 48px; 
}

h2 {
  font-size: 36px; 
}

p {
  font-size: 20px; 
}

ul {
  font-size: 20px; 
  list-style-type: square; 
}

code {
 font-family: 'Courier New', monospace; 
}

footer{
  text-align: center; 
}

.copyright {
  border-top: 1px solid black;
  display: flex;
  margin: auto;
  padding: 10px;
}

img.copyright_logo {
  width: 1vw;
  margin:.15vw;
}

.course-logo {
  width: 35vw;
}